
{{define "location.url" -}}
{{.externalEntityId}}.html
{{- end}}


{{define "location.source" -}}
<html>
    <body>
        <h1> Welcome to Luc's Electronics - {{.name}}</h1>
        <p>{{.address}}</p>
        <p>Hours: {{.hours}}</p>
    </body>
</html>
{{end}}

{{define "product.url" -}}
{{.externalEntityId}}.html
{{- end}}


{{define "product.source" -}}
<html>
    <body>
        <h1>{{.name}}</h1>
        <p>SKU: {{.sku}}</p>
        <img src={{.photoGallery}} alt="photo">
        <p>Description:{{.richTextDescription}}</p>
        <div>
            <span>{{.size}}</span>
            <span>{{.price}}</span>
        </div>
    </body>
</html>
{{end}}

