
{{define "location.url" -}}
{{.entityId}}-{{.locale}}.html
{{- end}}


{{define "location.source" -}}
<html>
    <body>
       

        <h1> Welcome to Luc's Electronics - {{.name}}</h1>
        <p>{{.address}}</p>
        <p>Hours: {{.hours}}</p>
    </body>
</html>
{{end}}

